---
import Layout from "../layouts/Layout.astro";
import ContactContent from "../components/contact/ContactContent";
import ContactInformation from "../components/contact/ContactInformation.astro";
---

<Layout>
  <section
    class="flex flex-col-reverse lg:flex-row justify-center lg:justify-between lg:pt-4 gap-4"
  >
    {/* Contact Content */}
    <ContactContent client:only />
    {/* Contact Information */}
    <ContactInformation />
  </section>
</Layout>
