---
import GithubIcon from "../components/icons/social-links/GithubIcon.astro";
import Linkedin from "../components/icons/social-links/Linkedin.astro";
import InstagramIcon from "../components/icons/social-links/InstagramIcon.astro";
import FaceBookIcon from "./icons/social-links/FaceBookIcon.tsx";
---

<a
  href="https://github.com/JeiferLn"
  class="px-3 py-3 bg-secondary text-background hover:bg-secondary-hover hover:scale-105 duration-300 rounded-full"
  aria-label="Github"
  target="_blank"
  rel="noopener noreferrer"
>
  <GithubIcon />
</a>
<a
  href="https://www.linkedin.com/in/jeifer-leon-59995b307/"
  class="px-2.5 py-2 bg-secondary text-background hover:bg-secondary-hover hover:scale-105 duration-300 rounded-full"
  aria-label="Linkedin"
  target="_blank"
  rel="noopener noreferrer"
>
  <Linkedin />
</a>
<a
  href="https://www.instagram.com/jeifer.ln/"
  class="px-2.5 py-2 bg-secondary text-background hover:bg-secondary-hover hover:scale-105 duration-300 rounded-full"
  aria-label="https://www.instagram.com/jeifer.ln/"
  target="_blank"
  rel="noopener noreferrer"
>
  <InstagramIcon />
</a>
<a
  href="https://www.facebook.com/jeiferandres.leonvasquez?locale=es_LA"
  class="px-2 py-2 bg-secondary text-background hover:bg-secondary-hover hover:scale-105 duration-300 rounded-full"
  aria-label="Facebook"
  target="_blank"
  rel="noopener noreferrer"
>
  <FaceBookIcon client:only/>
</a>
