---
import Header from "../components/Header.astro";
import PageTransition from "../components/ui/PageTransition";
import StairTransition from "../components/ui/StairTransition";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Jeifer Leon | Frontend Developer</title>
    <meta
      name="description"
      content="Portfolio of Jeifer Leon, a web developer specializing in modern technologies such as Astro, React, and TailwindCSS."
    />
  </head>
  <body class="bg-background text-primary">
    <StairTransition client:only />

    <PageTransition client:only>
      <Header />

      <main>
        <slot />
      </main>
      
    </PageTransition>
  </body>
</html>
