---
const pathname = Astro.url.pathname;

const links = [
  { name: "Home", href: "/" },
  { name: "About", href: "/about" },
  { name: "Experience", href: "/experience" },
  { name: "Projects", href: "/projects" },
  { name: "Contact", href: "/contact" },
];
---

<nav class="flex gap-8">
  {
    links.map((item) => (
      <a href={item.href} class={`nav-link ${pathname === item.href && "text-secondary after:bg-transparent hover:text-secondary-hover duration-200"}`}>
        {item.name}
      </a>
    ))
  }
</nav>
